<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852553552962-g5renetbfk5lt5nbgl2mfgqfrhk01ifj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852553552962-g5renetbfk5lt5nbgl2mfgqfrhk01ifj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>852553552962-aorva71l6lac96rrsa41s6patmcfij97.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfh1aPZVh-6HDKbR4HO6KtZLYaQGVxEFA</string>
	<key>GCM_SENDER_ID</key>
	<string>852553552962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.tokoterserah</string>
	<key>PROJECT_ID</key>
	<string>tokoterserah-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>tokoterserah-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852553552962:ios:5643d55b718d69a3eac9db</string>
	<key>DATABASE_URL</key>
	<string>https://tokoterserah-mobile.firebaseio.com</string>
</dict>
</plist>